.potion-card {
    display: flex;
    height: 420px;
    justify-content: end;
}

.potion-picture {
    height: 420px;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 2em;

}

.potion-infos {
    position: absolute;
    z-index: 1;
    align-self: flex-end;
    text-align: right;
    width: max-content;
    margin-right: 1em;
    margin-bottom: 0.7em;
    line-height: 0.7;
}

.potion-infos-small {
    font-size: 0.7em;
}

.potion-filter {
    background: linear-gradient(0deg, rgba(0,0,0,0.826712570621469) 0%, rgba(9,9,121,0) 48%);
    height: 420px;
    aspect-ratio: 3/4;
    border-radius: 2em;
    position: absolute;
}